<%- include('./partials/header.ejs'); -%>
<h1>Home</h1>
<p><%= startingContent %></p>

<% posts.forEach(function(el){ %>

<h1><%=el.title %></h1>

<p>
<%=el.body.substring(0,100) + '...' %>
      
<a href="/posts/<%=el.title%>">Read More</a>
</p>

<%})%> 

<%- include('./partials/footer.ejs'); -%>
